/* 
 * Wine Cultivar Prediction System - Optional External Stylesheet
 * This file is optional as styles are embedded in index.html
 * Can be used for additional custom styling if needed
 */

/* Additional custom styles can be added here */

